.input {
    border: 1px solid red;
}

#toggleText.show {
    animation: show-transition 2s ease-in forwards;
}

#toggleText.hide {
    opacity: 0;
    transition: all 1s ease-in;
}

@keyframes show-transition {
    0% {
        opacity: 0;
        color: gray;
    }
    50% {
        opacity: 0.5;
        color: aqua;
    }
    100% {
        opacity: 1;
        color: blue;
    }
}