.input {
    border: 1px solid red;
}

.toggle-text-enter {
    opacity: 0;
    color: gray;
}

.toggle-text-enter-active {
    opacity: 1;
    transition: opacity 2s;
}

.toggle-text-enter-done {
    opacity: 1;
}

.my-node-enter {
    opacity: 0;
}
.my-node-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}